/* room styling */
.room-image
{
  display: inline-block;;
  background-color: #ffffff;
  width: 100%;
  background-size: cover;
  /*box-shadow: 2px 2px 20px #888888;*/
  height:120px;
  top: 0;
  background: center;
}
.japanese-room-page-image
{
  background-image: url('../assets/japanese.jpg');
}
.shop-room-page-image
{
  background-image: url('../assets/shop.jpeg');
}
.kitchen-room-page-image
{
  background-image: url('../assets/kitchen.jpeg');
}
.phys-comp-room-page-image
{
  background-image: url('../assets/pcomp.jpeg');
}
.class-room-page-image
{
  background-image: url('../assets/classroom.jpeg');
}
/*style the breaker*/
.devices-line-breaker
{
  width: 90%;
  height: 2px;
  background-color: #888888;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*Style the button*/
.compare-to-button-section
{
  width:100%;
  height:250px;
  background-color: #fff3e6;
  position:inline-block;;
  bottom:0;
}
.compare-to-button
{
  display: inline-block;
  margin: 0 auto;
  /*line-height: 250px;*/
}
.compare-to-button-text
{
  display: inline-block;;
  padding: 30px 30px;
  font-size : 1.2em;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  background-color: #737373;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #888888;
  text-decoration: none;
}
/*Information about the device*/
.device-details
{
  margin-left: 7%;
}
.device-name-power
{
  font-weight: 700;
  font-size : 1.5em;
}
.device-compare
{
  color: #777777;
  font-weight: 400;
  font-size : 1em;
}
.test-text
{
  font-size : 1em;
  font-weight: 100;
  text-align: center;
}

.device-content
{
  /*margin-top: 50%;*/
}

/*VUSUALISATION*/

.visDiv {
  display: block;
  overflow-x:scroll;
  overflow-y:hidden;
  width: 80%;
  height: 140px;
  margin: 10px auto;
}
.visualisation {
  display: inline-block;
  width: 1000px;
  height: 120px;
  vertical-align: top;
  font-size: 0.5em;
}
.axis {
  stroke-width: 100px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: rgba(0,0,0,.09);
    background-image: url('../assets/linegraphai.png');
    background-size:1000px 20px;
    background-repeat: repeat;
    opacity: 0.1;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*******************************
MAX EQUIP USAGE
*******************************/

.visHeading, .peak-usage, .equipment-max-usage, .equipment-max-usage-name {
  font-size : 1em;
  font-weight: 100;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.equipment-max-usage-name {
  margin: 15px auto;
  font-weight: 400;
  font-size: 1.2em;
}
.energyIcon {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.line-div {
  width: 80%;
  box-shadow: none;
  margin: 5% auto;
}

/*******************************
PEAK VS OFF PEAK
*******************************/
.pie-charts-container {
  width: 100%;
}
.visualisation-pie {
  display: block;
  width: 60%;
  height: 300px;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 0.5em;
}
.visualisation-pie-off-peak {
  display: none;
}

/********************************
SELECTION ICONS
********************************/
.selection-icons
{
  width: 8%;
}
#sun-selection-icon
{
  opacity: 1;
}
#moon-selection-icon
{
  opacity: 0.7;
}
.peak-selection-icons
{
  width: 80%;
  margin: 15px auto;
  text-align: center;
}
